.pass-change-success-popup-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.pass-change-success-popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(35, 35, 35);
    border-radius: 1rem;
    padding: 2rem;
    border: 2px solid rgb(21, 57, 2);
    box-shadow: 0 0 20px rgb(21, 57, 2, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.pass-change-success-popup-title {
    margin-bottom: 0.75rem;
}

.pass-change-success-popup-redirect-button {
    margin-top: 1rem;
}