
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page-logo {
    background-image: url("../../../assets/kp-leaf.png");
    background-repeat: no-repeat;
    background-position: 8%;
    background-size: 275px;
}

.login-container {
    background-color: rgba(35, 35, 35, 0.8);
    backdrop-filter: blur(15px);
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 65vw;
    max-height: 75vh;
    gap: 2rem;
    border: 2px solid rgb(21, 57, 2);
    box-shadow: 0 0 20px rgb(21, 57, 2, 0.75);
    border-radius: 1rem;
    padding: 2rem;
}

.container-left, .container-right {
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-right {
    border-left: 2px solid rgb(21, 57, 2);
    padding-left: 2rem;
}

.login-title {
    margin: 0;
}

.sub-title {
    margin: 0;
    font-weight: 650;
}

.sub-title.upper{
    margin-bottom: -0.75rem;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.85);
}

.sub-title.lower{
    font-size: 1.15rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 0.5rem;
}

.login-form-title {
    margin: 0 0 1rem 0;
}

.login-form {
    gap: 1rem;
    width: 100%;
}

.login-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: 100%;
    transition: all 0.5s ease;
}

.login-input-container:hover {
    transform: scale(1.0125);
}

.login-input-container:focus-within {
    transform: scale(1);
}

.login-input {
    padding: 0.7em 2.35em;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    flex: 1;
}

.login-input::placeholder {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
}

.login-input:focus {
    outline: 2px solid rgb(21, 57, 2);
}

.icon {
    position: absolute;
    top: 47.5%;
    transform: translateY(-50%);
    padding: 0.40em;
    color: rgb(43, 97, 5);
}

.show-password {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0.75rem;
}

.login-problem {
    align-self: flex-start;
    margin-top: -0.75rem;
    font-size: 0.75rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
    margin-left: 0.3rem;
    margin-bottom: 0;
}

.login-button {
    flex: 1;
    color: rgba(255, 255, 255, 0.9);
}

.error {
    color: rgb(119, 7, 7);
    font-size: 0.8rem;
    font-weight: 500;
    margin: -0.5rem;
    text-align: center;
}

.loading {
    font-size: 0.8rem;
    font-weight: 500;
    margin: -0.5rem;
}

.or-text {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 1.1rem;
    margin-top: 0;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.or-line {
    flex: 1;
    height: 1px;
    background-color: #153902;
}

.or-label {
    white-space: nowrap;
}

.alternatives {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -1.5rem;
    margin-bottom: -1rem;
}

.alternative-line {
    width: 1px;
    height: 2rem;
    background-color: #153902;
}

.alternative {
    color: rgb(255, 255, 255, 0.75);
    transition: all 0.5s ease;
}

.alternative:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.alternative.active {
    transform: scale(1);
    transition: all 0.5s ease;
}

.alt-button {
    padding: 0;
    background: none;
}

.alt-button:hover {
    box-shadow: none;
}

.alt-button:focus {
    box-shadow: none;
}

@media (max-width: 920px) {
    .login-page {
        max-height: 100vh;
    }

    .login-page-logo {
        background-size: 200px;
        background-position: center 1rem;
    }

    .login-container {
        flex-direction: column;
        max-height: none;
    }

    .container-left, .container-right {
        width: 100%;
    }

    .container-right {
        border-left: none;
        border-top: 2px solid rgb(21, 57, 2);
        padding-left: 0;
        padding-top: 2rem;
    }

    .login-input {
        width: 100%;
    }
}
