.addTestContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.form {
  display: flex;
  gap: 10px;
}

.form input {
  padding: 10px;
  background: #222;
  border: 1px solid #444;
  color: white;
  border-radius: 5px;
}

.form button {
  padding: 10px 20px;
  background: #333;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  background: #555;
}

.pridanieText {
  margin-top: 20px;
  height: 100px;
  color: white;
  font-size: 1.5rem;
}
