/* Globálne nastavenia štýlu */

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Fleur+De+Leah&family=Imperial+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: Poppins, system-ui, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.8);
    background: linear-gradient(315deg,rgba(21, 57, 2, 0.5) 0%, rgba(28, 28, 28, 1) 50%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
}


a {
    font-weight: 500;
    color: #2b6105;
    text-decoration: underline;
    transition: all 0.5s ease;
}

a:hover {
    transform: scale(1.0125);
    transition: all 0.5s ease;
    cursor: pointer;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}


h1 {
    font-size: 3.2rem;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.9);
}

button {
    border: none;
    border-radius: 8px;
    padding: 0.5em 1.2em;
    font-size: 1.25rem;
    font-weight: 600;
    background-color: #153902;
    cursor: pointer;
    transition: all 0.5s ease, outline-color 0.5s ease;

}

button:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75);
    transform: scale(1.0125);
    transition: all 0.5s ease;
}

button:focus, button:focus-visible {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75);
    transform: scale(1);
    transition: all 0.5s ease, outline-color 0.5s ease;
}

form {
    display: flex;
    flex-direction: column;
}


@media (max-width: 480px) {

    button:focus, button:focus-visible {
        outline: 2px solid rgba(255, 255, 255, 0.85);
    }

    :root {
        font-size: 14px;
        text-align: center;
    }

}