.navbar-component {
    width: 100vw;
}

.navbar {
    position: fixed;
    top: 2px;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    min-height: 45px;
    width: 99.25vw;
    min-width: max-content;
    background-color: rgba(35, 35, 35, 0.85);
    backdrop-filter: blur(15px);
    color: white;
    border: 2px solid rgb(21, 57, 2);
    box-shadow: 0 0 20px rgb(21, 57, 2, 0.75);
    border-radius: 1rem;
    z-index: 100;
}

/* LEFT */
.navbar-left {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-right: 1px solid #153902;
    gap: 15px;
}

.navbar-logo {
    height: 75%;
}

.navbar-logo-mobile {
    display: none;
    height: 75%;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-user-icon {
    font-size: 1.9rem;
    margin-top: 8px;
}

.navbar-user:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.navbar-user:active {
    transform: scale(1);
    transition: all 0.3s ease;
}

.navbar-hamburger {
    font-size: 1.9rem;
    margin-top: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

.navbar-hamburger:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* RIGHT */
.navbar-right {
    display: flex;
    min-width: 150px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    gap: 8%;
    padding: 1rem;
    border-left: 2px solid #153902;
}

.navbar-right svg {
    font-size: 1.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-right svg:hover {
    opacity: 0.7;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.navbar-right svg:active {
    transform: scale(0.95);
    opacity: 1;
    transition: all 0.3s ease;
}

.navbar-divider {
    width: 2px;
    height: 25px;
    background-color: #153902;
}

.mobile-menu {
    position: absolute;
    width: 99.25vw;
    color: white;
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: rgba(35, 35, 35, 0.85);
    backdrop-filter: blur(15px);
    border: 2px solid rgb(21, 57, 2);
    box-shadow: 0 0 20px rgb(21, 57, 2, 0.75);
    border-radius: 0 0 1rem 1rem;
    border-top: none;
    padding: 78px 0 1rem 0;
    z-index: 10;

    /* zatvorene menu */
    transform: translateY(-25vh);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.4s ease, opacity 0.4s ease;

}

/* BACKDROP*/
.mobile-menu-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 5;
}


/* otvorene menu */
.mobile-menu.open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.mobile-menu svg {
    transform: translateY(2px);
    margin-right: 10px;
}

.menu-divider {
    align-self: center;
    width: 15%;
    height: 2px;
    background-color: #153902;
    margin: 0.5rem;
}

.mobile-menu div {
    width: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.mobile-menu div:hover {
    opacity: 0.7;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.mobile-menu div:active {
    transform: scale(0.95);
    opacity: 1;
}

@media (max-width: 540px) {

    .navbar-right {
        display: none;
    }

    .navbar-left {
        border: none;
    }

    .navbar-user {
        display: none;
    }

    .navbar-hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }

}
