.reset-password-confirm-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-pass-confirm-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(35, 35, 35);
    border-radius: 1rem;
    padding: 2rem;
    border: 2px solid rgb(21, 57, 2);
    box-shadow: 0 0 20px rgb(21, 57, 2, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.reset-pass-confirm-title {
    text-align: center;
}

.reset-pass-confirm-text {
    margin-bottom: 2rem;
    max-width: 80%;
    text-align: center;
}

.reset-pass-confirm-form {
    gap: 1rem;
    width: 100%;
    max-width: 30rem;
}

.reset-pass-confirm-input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: 100%;
    transition: all 0.5s ease;
}

.reset-pass-confirm-input-container:hover {
    transform: scale(1.0125);
}

.reset-pass-confirm-input-container:focus-within {
    transform: scale(1);
}

.reset-pass-confirm-input {
    padding: 0.7em 2.35em;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    flex: 1;
}

.reset-pass-confirm-input::placeholder {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
}

.reset-pass-confirm-input:focus {
    outline: 2px solid rgb(21, 57, 2);
}

.icon {
    position: absolute;
    top: 47.5%;
    transform: translateY(-50%);
    padding: 0.40em;
    color: rgb(43, 97, 5);
}

.show-password {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 0.75rem;
}

.error {
    color: rgb(119, 7, 7);
    font-size: 0.8rem;
    font-weight: 500;
    margin: -0.5rem;

}

.loading {
    font-size: 0.8rem;
    font-weight: 500;
    margin: -0.5rem;
}
