body {
  background: #111;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.titleTest {
  color: aliceblue;
  font-size: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2vw;
}
